*
{
 margin:0;
 padding:0; 
}
body
{
 font-family: sans-serif;	
}
.navbar
{
   height: 70px;

}
#nav-bar 
{
  position: sticky;
  top:0;
  z-index:10;

}
.p
{
	font-weight: 600;
	color:red;
	font-family: cursive;
	font-size: 35px;
	margin: 2px 0px 0px 25px;
}
.t2
{
	
	
	box-shadow: 0 0 5px 5px lightgrey; 
}

/*.navbar
{
	background-image: linear-gradient(to right,lightgreen,green);
}*/

.navbar-brand 
{
	padding-left: 20px;
	font-weight: 300;
 
}
.bg 
{
	font-size: 20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	

	float:;
	color: black;
	
	font-size: 20px;
}
/*.navbar-nav li a:hover 
{
 border-bottom :5px solid red;
 transition: 0.3s ease;
 

}*/
.navbar-nav li a:active
{
	color:red;
 transition: 0.3s ease;
}
.fa-bars
{
	
	font-size:50px;
	outline: none;
}
.navbar-toggler
{
	outline:red;

}
#navbarNav
{
	background-color:white;
	
}





#home
{
background-image:linear-gradient(rgba(0,0,0.5,0.5),rgba(0,0,0.5,0.5)),url(images/sir.jpg); 
	height:400px;
	background-size: cover;
	background-position:center; 
  background-attachment: fixed;
/*
	background-image: linear-gradient(to right,lightgreen,green);
    color:white;
    padding-top: 5%;
     
    background-attachment:fixed; 	*/
}
#home2
{
background-image:linear-gradient(rgba(0,0,0.5,0.5),rgba(0,0,0.5,0.5)),url(images/sir.jpg); 
	height:100vh;
	background-size: cover;
	background-position:center; 
  background-attachment: fixed;
 }
.wrap
{
	padding-top:30px;
	box-sizing: border-box;
}
.wrap h3
{
	font-size:42px;
	text-align: center;

}
.wrap h6
{
font-size:22px;	
}
.wrap p
{
	font-size: 40px;

}
h1
{
	font-family: 'Open Sans', sans-serif;
	color: red;
	font-weight: 1000;
	margin-top: 50px;
	margin-left: 15px;
	letter-spacing: 2px;
}
h5
{
	font-family: sans-serif;
	color: black;
	
	padding-top: 20px;
	margin-right: 20px;
	
}
span
{
	color:black;
}
.title
{
	display: inline-block;
}

#BA 
{
	color: white;
	text-decoration: none;
}
.wrap i
{
   margin:20px;
   color:white;
}

 .wrap h1
{
	font-family: century gothic;
	font-size: 60px;
	margin:30px 0px 30px; 
	font-weight: 500;
}
.wrap p
{
	font-family: serif;

}



 /*img
{
	margin-bottom: 30px;
}*/
/*.icon
{
	margin-top: 50px;
	padding: 4px; 
	width:300px;
	height:40px;
	border-radius: 20px;
}*/



h4
{
	color:grey;
	padding:5px;
	margin-top: 25px;
	text-transform: uppercase;
	font-family: cursive;
}
.text::before
{
	content:'';
	background-color: black;/* dc3545*/
	height:5px;
	width:200px;
	margin-left:auto;
	margin-right: auto;
	display:block;
	transform:translateY(63px);
}
.text::after
{
	content:'';
	background-color: black;/* */
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 40px;
	display:block;
	transform:translateY(8px);
}


.ser
{
	padding: 100px 0 20px; 
}


/*.box
{
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	height: 300px;
	padding: 40px;
	border-radius: 7px; 
	box-sizing: border-box;
	margin:10px; 
    overflow: hidden;
}
.icon
{
  position: relative;
  width: 90px;
  height: 80px;
  color:white;
  background: red;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 50px; 
  font-family: poppins;
  font-weight: 700;
  transition: 1s ease ;
}
.box .icon 
{
	box-shadow: 0 0 0 0 blue;
	background: red; 

}
.box:hover .icon 
{
	box-shadow: 0 0 0 400px red;
	background: red; 
	color:black;
}


.box .content
{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}
.box:hover .content
{
  color:white;
}
.box .content h3
{
	font-family:cursive; 
   font-weight: 700; 
	margin: 15px 0; 
}
.box .content .btn
{
	padding:10px 20px;
	font-weight: 500
	box-shadow:0 5px 15px rgba(0,0,0,.1);
}
.box:hover .content .btn
{
  background:white;
  color:red;
  font-weight: 500; 
  border-radius: 10px;
}
/*.box:before
{
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,.2); 
   z-index: 2;
}*/

.iconsize{
	padding-right: 5px;

}
#text
{
	margin-bottom:6px;
}

.row
{
	padding: 50px 0px 50px;
}
.row2
{
	padding:0px 0px 0px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 2px;
}
.text1::before
{
	content:'';
	/*background-image: linear-gradient(to right,red,blue)*/;
	background-color: black;
	height:5px;
	width:400px;
	
	display:block;
	transform:translateY(63px);
}
.text1::after
{
	content:'';
	/*background-image: linear-gradient(to right,red,blue);*/
	background-color: black;
	height:10px;
	width:70px;
	margin-left:150px;
	margin-right: auto;
	margin-bottom: 40px;
	display:block;
	transform:translateY(8px);
}
.info  li  
{
	font-family: sans-serif;
	font-size: 22px;
	
}
.img 
{
  margin-left:30px ;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 300px;
  width: 300px;
 box-shadow: 0 10px 15px rgba(0,0,0,.5);
}
.img2
{
	height:450px;
	width:450px;
	padding-top: 10px;
	margin:70px 0 30px; 
}
.img3
{
	height:450px;
	width:450px;
	padding-top: 30px;
}
.img4
{
	height:450px;
	width:450px;
	padding-top: 0px;
	margin:30px 0 30px; 
}
.r
{
	margin:120px 0 30px;
	padding: 50px 0px 50px;
}

.fa-book
{
	margin:2px; 
} 
.fa-youtube-play
{
	
	margin : 0 2px 0 5px;
}
#footer
{
 background-color:#f8f9fa!important;;
 color:white;
}
.footer-box
{
	padding: 20px;
}
.footer-box h4
{
	color:red;
	font-family:'Open Sans', sans-serif 
}
.footer_ul { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul li {padding:0px 0px 5px 0px;}
.footer_ul li a{ color:black;}
.footer_ul li a:hover{ color:red; text-decoration:none;}


.footer-box input[type="text"],
.footer-box input[type="email"],
.footer-box textarea,
.footer-box input[type="date"]

{
   display:block;
   box-sizing: border-box;
   margin-top: 20px;
   margin-bottom: 25px;
   margin-left:10px; 
   padding: 10px;
   width: 300px;
   height:35px;
   border:none;
   outline:none;
   border-bottom: 1px solid red;
   font-family: sans-serif;
   font-weight:400;
    font-size: 20px;
    transition: 0.2s ease; 
    border-radius: 20px;
}
.but
{
	margin-top: 20px;
   margin-bottom: 25px;
   margin-left:10px; 
   padding: 10px;
 }

.exampleFormControlSelect1
{
	float:left;
	margin-left: 20px;
	font-size: 20px;

}
#exampleFormControlSelect1
{
	width:300px;
	margin-left: 10px;
}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:10px; padding-top:0px; float:left ;margin:auto; }
.social_footer_ul li a { color:#CCC; padding:7px;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}



#BA2
{
background-image:linear-gradient(rgba(0,0,0.5,0.5),rgba(0,0,0.5,0.5)),url(images/funding.jpg); 
	height:170vh;
	background-size: cover;
	background-position:center; 
  background-attachment: fixed;
/*
	background-image: linear-gradient(to right,lightgreen,green);
    color:white;
    padding-top: 5%;
     
    background-attachment:fixed; 	*/
}

#BA3
{
background-image:linear-gradient(rgba(0,0,0.6,0.6),rgba(0,0,0.6,0.6)),url(images/free.jpg); 
	height:170vh;
	background-size: cover;
	background-position:center; 
  background-attachment: fixed;
/*
	background-image: linear-gradient(to right,lightgreen,green);
    color:white;
    padding-top: 5%;
     
    background-attachment:fixed; 	*/
}
hr
{
  padding-bottom: 5px;
}
.topic h1
{
  margin-top: 30px; 
}
p
{
  color:grey;
  padding-bottom: 5px;
}

.navbar-nav li a
{
  float: right;
}

.card
{
	border-radius: 10px;
	box-shadow:  2px 2px  0 0 lightgrey;
}
}